
.bottom-nav {
    min-width: auto;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px ; /* Sama di kiri dan kanan */
    padding: 10px 0 1px;
    list-style: none;
    z-index: 2000;
}
.bottom-nav li {
    list-style: none;
}
.bottom-nav li a {
    width: 75px;
    height: 45px;
    color: #43dcf7;
    text-align: center;
    font-size: 20px;
    display: block;
    transition: 0.3s;
    position: relative;
}
.bottom-nav li a i {
    width: 100%;
    position: absolute;
    top: 23%;
    left: 0;
    transition: 0.3s cubic-bezier(0.49, -0.35, 0.77, 1.44);
    z-index: 9;
}
.bottom-nav li a span {
    display: block;
    font-size: 12px;
    font-weight: bold;
    text-shadow: 2px 2px 4px black;
    width: 100%;
    position: absolute;
    bottom: -16px;
    opacity: 0;
    transition: 0.3s cubic-bezier(0.49, -0.35, 0.77, 1.44);
    z-index: 9;
}
.bottom-nav li a.active-icon i {
    top: -80%;
    transition: 0.3s cubic-bezier(0.49, -0.35, 0.77, 1.44);
}
.bottom-nav li a.active-icon span {
    bottom: 14px;
    opacity: 1;
    transition: 0.3s cubic-bezier(0.49, -0.35, 0.77, 1.44);
}
.slider {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -35px;
    background-color: #ffffff00;
    border: 2px solid #43dcf7;
    box-shadow: 0px 0px 0px 5px #43dcf7;
    border-radius: 50%;
    transition: 0.3s;
}

/* Media query untuk layar kecil seperti 320px */
@media (max-width: 320px) {
    .bottom-nav {
        width: 90%; /* Pastikan navbar menggunakan lebar penuh layar */
        padding: 1px 0 1px; /* Sesuaikan padding untuk mengurangi tinggi navbar */
    }

    .bottom-nav li a {
        width: 50px; /* Kurangi lebar ikon */
        height: 40px; /* Kurangi tinggi ikon */
        font-size: 16px; /* Sesuaikan ukuran font */
    }

    .slider {
        width: 40px; /* Kurangi ukuran slider */
        height: 40px; /* Kurangi ukuran slider */
        top: -35px; /* Sesuaikan posisi slider */
        margin-left: -11px;
    }
    .bottom-nav li a.active-icon i {
        top: -60%; /* tinggi icon aktif */
        transition: 0.3s cubic-bezier(0.49, -0.35, 0.77, 1.44);
    }
}